@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Ubuntu:wght@300;400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;   
}
/*estilos universales*/
button{
    cursor: pointer;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main__title{
    font-size: 35px;
    font-weight: 700;
}
/*estilo botones de logueo*/
.main__login{
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.login__button{
    padding: 0 10px 0 5px;
    height: 40px;
    min-width: 200px;
    background-color: rgb(26,115,232);
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.login__button picture{
    width: 30px;
    height: 30px;
    background-color: white;
}
.login__button picture img{
    height: 99%
}
.login__button span{
    color: white;
    font-size: 1.3em;
    font-weight: 500;
}
.twitter__button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(242,242,242);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
}
.twitter__button img{
    height: 80%;
    opacity: 0.7;
}
.main button{
    transition: opacity 0.3s;
}
.main button:hover{
    opacity: 0.8;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.887);
}
.main__divider{
    width: 80%;
    margin: 10px;
    padding: 0;
    overflow: visible;
    border:none;
    border-top: 1px solid rgb(224, 224, 224);
    color: rgba(0, 0, 0, 0.353);
    text-align: center;
}
.main__divider:after{
    content: "Or";
    display: inline-block;
    position: relative;
    top:-12px;
    padding: 0 16px;
    background-color: white;
}
.main__registrer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__form{
    display: flex;
    flex-direction: column;
}
.form__container{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.form__container-user{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.form__label{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}
.form__input{
    border-radius: 10px;
    height: 45px;
    border: 1px solid transparent;
    background-color: rgb(243, 243, 244);
    outline: none;
    padding: 10px;
}
.form__input:hover{
    box-shadow: 0 0 3px 3px rgb(234,76,137);
}
.form__input:focus{
    box-shadow: 
        0 0 3px 3px rgb(234,76,137),
        0 0 4px 4px rgba(0, 0, 0, 0.526);
}

.form__container-check{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    margin-bottom: 20px;
}
#checkbox{
    width: 17px;
    height: 17px;
}
.form__button{
    width: 50%;
    height: 45px;
    background-color: rgb(234,76,137);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    border:none;
    border-radius: 10px;
}
